/******************************************
/* CSS
/*******************************************/
@import url(fontawesome-all.min.css);
@import url('vanilla.css');

/* Box Model Hack */

*{
  box-sizing: border-box;
}

/* Clear fix hack */

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clear{
clear: both;
}
/* common styles */
nav, a{
  margin: 0;
  padding: 0;
}

ol, ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: white;
}





/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}
  h1{
    font-family: 'Rubik Puddles', cursive;
    font-size: 3em;
  }
  p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
  }

/* main css */

main{
  margin-left: 200px;
  padding: 20px;

}
main section{
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;

}

#learnMore{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  border: 1px solid #080808;
  border-radius: 10px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  }
  
  #learnMore:hover{
    background-color: #282828;
    color: #fff;
  }

/* sidebar css */

  nav{
    position: fixed;
    background-color: #000000;
    justify-content: space-between;
    height: 100vh;
    width: 200px;
  }

  nav ul li {
    display: inline-block;
    margin-bottom: 50%;
    list-style: none;
    color: #fffefe;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    font-weight: 600;
    padding: 50px;
}
/* nav ul li a:hover{
  font-size: 1.1em;

} */
  
/* sidebar css end */



/* footer */

footer{
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  background-color: #080808;
  
}
footer nav i{
  list-style: none;
  margin: auto;
  display: flex;
  color: white;
  align-content: center;
  text-decoration: none;
  
}
/* media queries */
@media only screen { 
  nav{
    position: fixed;
    right: 0;
    top: 0;
    height: 4vh;
    width: 100%;
  }
  nav ul li{
  display: inline-block;
  margin: auto 0;
  padding: 0;
  align-items: center;
  justify-content: center;
 }
 nav ul li a{
  margin-left: 4vh ;
  align-items: center;
  justify-content: center;
  text-align: center;
 }

  
  main{
    margin: 0;
    padding: 0;
  }
}